:root{
    /* color */
    --color-blue: #3296DF;
}

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}


#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 16px;
    z-index: 1;
}

.navbar__menu {
    display: flex;
}
.navbar__menu a{
    padding: 8px 12px;
    margin: 0 4px;   
    color: #000000;
}

#navbar__logo{
    color: black;
}
#navbar.navbar--dark {
    background-color: #73aace;
    color: #ffffff;
    padding: 8px 12px;
    margin: 0 4px;   
    transition: all 500ms ease-in-out;
}



.navbar__menu__item {
 padding: 8px 12px;
 margin: 0 4px;   
 cursor: pointer;
 border-radius: 4px;
 border: 1px solid transparent;
}

.navbar__menu__item.active {
    border: 1px solid #ddd;
}

.navbar__menu__item:hover {
    border-color: white;
    background-color:var(--color-blue);
    border-radius: 4px;
}

.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: #fff;
    display: none;
}

@media screen and (max-width: 768px) {
    
    #home{
        width: 100%;
    }
    .navbar__toggle-btn {
        display: block;
        top: 16px;
        right: 16px;
        font-size: 28px;
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-blue);
    }

    #navbar.navbar--dark {
        padding: 16px;
    }
    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__menu.open {
        display: block;
    }
}